@font-face {
  font-family: "PoppinsMedium";
  src: url(../Fonts/Poppins-Medium.otf);
}
@font-face {
  font-family: "PoppinsRegular";
  src: url(../Fonts/Poppins-Regular.otf);
}
:root {
  --color-background: #fffdf7;
  --color-black: #212121;
  --color-black-heavy: #000;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-secondary: #fff2cc;
  --color-white: #fff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #ccc;
}
body {
  background-color: var(--color-background);
  font-family: "PoppinsRegular", "Rubik", sans-serif;
  color: var(--color-text);
}
.servicos,
.cardapio,
.depoimentos,
.reserva {
  margin-top: 100px;
  margin-bottom: 50px;
}
b {
  font-family: "PoppinsMedium", "Rubik", sans-serif;
}

.hidden {
  display: none !important;
}
.color-primary {
  color: var(--color-primary);
}
a.navbar-brand {
  margin-left: -25px;
}

.nav-link {
  color: var(--color-black) !important;
  margin: 0 35px;
}
.btn-white {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.btn-white.active,
.btn-white:hover {
  background-color: var(--color-primary);
  color: var(--color-black) !important;
}
.btn-icon {
  padding-right: 75px;
}
.btn-icon .icon {
  display: inline-block;
  color: var(--color-black);
  background-color: var(--color-primary);
  width: 45px;
  height: 45px;
  position: absolute;
  right: 10px;
  margin-top: -8px;
  border-radius: 15px;
  padding-top: 6px;
  text-align: center;
}

.banner {
  padding: 50px 0px 200px 0px;
}
.text-banner {
  flex-direction: column;
  justify-content: center;
}
.text-banner h1 {
  color: var(--color-black);
  font-size: 60px;
}
.text-banner p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
.btn-yellow {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.btn-icon-left {
  padding-left: 70px;
}

.btn-icon-left span.icon-left {
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 45px;
  height: 45px;
  position: absolute;
  margin-left: -60px;
  margin-top: -8px;
  border-radius: 15px;
  text-align: center;
  padding-top: 8px;
}
.btn-icon-left:hover span.icon-left {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn-sm {
  padding: 9px 15px !important;
  border-radius: 15px !important;
  font-size: 18px !important;
  /* border: 1px solid #333; */
}
.btn-social {
  width: 50px;
}
.card-banner {
  width: 450px;
  height: 450px;
  border-radius: 170px;
  background-color: var(--color-primary);
  position: absolute;
  right: 0;
  top: -80px;
}
.img-banner {
  position: absolute;
  top: 30px;
  right: 15px;
}
.card {
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3) !important;
  border: none !important;
}
.card-case {
  width: 350px;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: -75px;
}
.card-case-name {
  position: absolute;
  color: var(--color-primary);
  right: 20px;
  bottom: 10px;
}
.servicos {
  padding: 50px 0 50px 0;
}
.hint-title {
  color: var(--color-primary);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.title {
  color: var(--color-black);
  font-size: 40px;
  margin: 5px 0 30px 0;
  letter-spacing: 5px;
}
.card-icon {
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.card-text {
  color: var(--color-text-out);
  font-size: 15px;
  padding: 0 30px;
}

.card-text p {
  font-size: 22px;
  color: var(--color-black);
}
.background-servicos {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background-image: url(../Image/bg-icons-2.png);
}

.background-cardapio {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background-image: url(../Image/bg-icons-1.png);
}
.container-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.card-item {
  height: 350px;
  /* padding: 0px; */
}
.card-item .img-produto img {
  width: 100%;
  border-radius: 11px;
}
.card-item .title-produto {
  color: var(--color-black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  height: 40px;
  margin-bottom: 0px;
}
.card-item .price-produto {
  color: var(--color-primary);
  font-size: 24px;
}
.card-item .add-carrinho {
  display: none;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.btn-menos {
  color: var(--color-black-heavy);
  padding: 5px 7px;
  border: 2px solid var(--color-black-heavy);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn-mais {
  color: var(--color-black-heavy);
  padding: 5px 7px;
  border: 2px solid var(--color-black-heavy);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn-numero-itens {
  font-size: 18px;
  padding: 2.5px 15px;
  color: var(--color-black-heavy);
  border-top: 2px solid var(--color-black-heavy);
  border-bottom: 2px solid var(--color-black-heavy);
}

.btn-add {
  border: 2px solid var(--color-black-heavy);
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: var(--color-black-heavy);
  color: var(--color-white);
  margin-left: 15px;
}

.card-item:hover {
  background-color: var(--color-primary);
}

.card-item:hover .title-produto {
  display: none;
}

.card-item:hover .add-carrinho {
  display: flex;
}

.card-item:hover .price-produto {
  margin-top: 20px;
  color: var(--color-black-heavy);
}

.card-depoimentos {
  height: 400px;
  width: 400px;
  border-radius: 120px;
  background-color: var(--color-red);
  position: absolute;
  left: 0;
}
.container-dados-depoimento {
  display: flex;
}
.depoimento {
  margin-top: 70px;
}
.img-depoimento {
  width: 80px;
  height: 80px;
  background-color: var(--color-white);
  border-radius: 50%;
  background-position: center;
  /* background-repeat: no-repeat; */
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: -10px 0px 15px -3px rgba(0, 0, 0, 0.8);
}
#depoimento-1 .img-depoimento {
  background-image: url(../Image/diego.jpg);
  background-size: cover;
}
#depoimento-2 .img-depoimento {
  background-image: url(../Image/ana.jpg);
  background-size: cover;
}
#depoimento-3 .img-depoimento {
  background-image: url(../Image/joao.jpg);
  background-size: cover;
}
.nome-depoimento {
  color: var(--color-black);
  font-size: 22px;
  margin-bottom: 5px;
}

.nota-depoimento {
  color: var(--color-primary);
}

.nota-depoimento span {
  color: var(--color-black);
}

.texto-depoimento {
  display: flex;
  font-size: 16px;
  color: var(--color-black);
}
.texto-depoimento i {
  font-size: 30px;
  color: var(--color-primary);
}

.texto-depoimento i:first-child {
  padding-left: 10px;
  padding-right: 35px;
}
.texto-depoimento i:last-child {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.card-secondary {
  background-color: var(--color-secondary);
  border-radius: 70px;
  padding: 90px;
}
.card-reserva {
  width: 320px;
  height: 320px;
  border-radius: 120px;
  background-color: var(--color-white);
  position: absolute;
  right: 0;
  top: -25px;
}

.reserva .img-banner img {
  width: 100%;
}

footer {
  height: 100px;
  background-color: var(--color-primary);
}
